<template tabindex="0">
  <require from="../tabs/tab-view/tab-view.html" />
  <require from="../fs-view/fs-view" />

  <div class="ui segments pane-container">
    <!--TABS-->
    <div class="ui ${settings.inverted} segment tabs">
      <div class="ui top attached tabular mini ${settings.inverted} menu" ref="tabsElement">
        <tab-view
          repeat.for="tab of pane.tabs.list"
          class="item ${pane == pane.panes.active && tab == pane.tabs.active ? 'active-tab' : ''}"
          data-tab="${tab.id}"
          tab.bind="tab"
        >
        </tab-view>

        <div class="right menu">
          <a class="item" click.delegate="pane.tabs.add().activate()">
            <i class="add icon"></i> New Tab
          </a>
        </div>
      </div>
    </div>

    <!--FS VIEWS-->
    <div class="ui ${settings.inverted} segment fs-views">
      <fs-view
        repeat.for="tab of pane.tabs.list"
        class="ui tab ${tab.isActive ? 'active' : ''}"
        data-tab="${tab.id}"
        fs-items.bind="tab.fsItems"
        tab.bind="tab"
      ></fs-view>
    </div>
  </div>
</template>
