@import '../style/variables.scss';
@import '../style/themes/index';

.window {
    display: flex;
    min-height: calc(100vh - #{$titlebar-height});
    flex-direction: column;

    .window-body {
        display: flex;
        flex: 1;
        @include theme(border-left, windowBorderColor, 1px solid);
        @include theme(border-right, windowBorderColor, 1px solid);
    }
}
