@import "../style/themes";

.rounded-window {
  $rounding: 10px;

  header {
    border-top-left-radius: $rounding;
    border-top-right-radius: $rounding;
  }

  status-bar {
    border-bottom-left-radius: $rounding;
    border-bottom-right-radius: $rounding;
  }
}

.window {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .window-body {
    display: flex;
    flex: 1;
    @include theme(border-left, windowBorderColor, 1px solid);
    @include theme(border-right, windowBorderColor, 1px solid);
  }
}
