.fs-item-detail-view {

    &.selected, &.selected:hover {
        /*background-color: rgba(234, 234, 234, 0.65);*/
        background-color: rgba(74, 204, 254, 0.30) !important;
        border: 1px dashed rgb(45, 196, 254);
    }

    .fs-item-icon {
        display: inline-block;
        height: 1rem;
        width: 20px;
        text-align: center;
        margin-right: 5px;

        img {
            max-width: 20px !important;
            height: 1rem;
            margin-top: -3px;
        }
    }

    .fs-item-name {
        display: inline-block;
    }
}
