$accent-color: dodgerblue;

$dark-background: #222;//
/*$dark-background: rgb(27, 28, 29);*/
$dark-header-background: #333;//
$dark-background-transparent: rgb(27, 28, 29, 0.95);//
$dark-background-light: #1E1E1E;//
$dark-background-lighter: #2c2c2c;//
$dark-border-color: #333;//
$dark-border-color-light: #656565;//
$dark-hover-color: rgba(255, 255, 255, 0.12);//
$dark-active-color: rgba(255, 255, 255, 0.20);//
$dark-active-unfocused-color: rgba(255, 255, 255, 0.15);//
$dark-muted-text-color: rgba(255, 255, 255, 0.6);//
$dark-splitter-color: #333;//

$light-background: rgb(255, 255, 255);//
$light-header-background: #333;//

$light-background-transparent: rgba(255, 255, 255, 0.95);//
$light-active-color: rgba(30, 144, 255, 0.25);//
$light-hover-color: rgba(238, 238, 238, 0.50);//
