$accent-color: dodgerblue;

$dark-background: #1B1C1D;
$dark-background-light: #1E1E1E;
$dark-border-color: #505152;
$dark-border-color-light: #656565;
$dark-hover-color: rgba(255, 255, 255, 0.08);
$dark-active-color: rgba(255, 255, 255, 0.20);
$dark-active-unfocused-color: rgba(255, 255, 255, 0.15);
$dark-muted-text-color: rgba(255, 255, 255, 0.6);
$dark-splitter-color: #4d4d4d;
