$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
    .m-#{$space} {
        margin: #{$space}px !important;
    }
    .p-#{$space} {
        padding: #{$space}px !important;
    }

    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }
        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}


input::selection {
    background: rgba(74, 204, 254, 0.4);
}

.selectable {
    cursor: pointer;
}

.ui.grid.unstyled, .ui.grid.unstyled .row, .ui.grid.unstyled .column {
    padding: 0;
    margin: 0;
}

.ui.buttons {
    &.divided {
        .ui.button:not(:last-child) {
            border-right: 1px solid #ccc;
        }
    }
}