<template tabindex="0" data-id="${id}">
    <require from="./context-menu.html" />
    <require from="./fs-items/fs-item-icon-view" />
    <require from="./fs-items/fs-item-detail-view" />

    <div ref="itemList"
         if.bind="settings.fileViewType === 'Icons'"
         class="ui horizontal ${settings.inverted} list">
        <div class="top aligned item draggable ${fsItem.isSelected ? 'selected' : ''}"
             repeat.for="fsItem of fsItems.view"
             data-name.bind="fsItem.name"
             data-is-dir.bind="fsItem.isDir">
            <fs-item-icon-view class="fs-item"
                               dblClick.delegate="openSelected()"
                               item.bind="fsItem"
                               data-name.bind="fsItem.name"></fs-item-icon-view>
        </div>
    </div>

    <div if.bind="settings.fileViewType === 'Details'">
        <table class="ui sortable selectable single line ${settings.inverted} basic very compact small table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date modified</th>
                    <th>Type</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr as-element="fs-item-detail-view"
                    repeat.for="fsItem of fsItems.view"
                    item.bind="fsItem"
                    dbl-click.call="openSelected()"></tr>
            </tbody>
        </table>
    </div>

    <context-menu ref="contextMenu" class="context-menu" model.bind="$this"></context-menu>

</template>