@import "../../../style/colors.scss";

fs-view {
    flex: 1 1 auto;
    height: 0px;
    overflow-y: auto;

    &:focus {
        outline: none;
    }

    .ui.horizontal.list {
        padding: 12px 10px;
    }

    .ui.table, .ui.basic.table {
        position: relative;
        border: none;
        padding-left: 20px;
        padding-right: 50px;

        thead th {
            background-color: rgb(255, 255, 255);
            position: sticky;
            top: 0;
            z-index: 1;
            padding: 0;

            .heading {
                padding: 0.5em 0.6em;

                &:hover {
                    background-color: #eee;
                }

                &.sort-target {
                    background-color: $light-active-color;
                }
            }
        }
    }

    .drop-container {
        background-color: #eee;
    }
}

.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 2px solid rgba(98, 155, 255, 0.81);
    border-radius: 0.1em;
}

.dark {
    .ui.inverted.table, .ui.inverted.basic.table {

        thead th {
            background-color: $dark-background;

            .heading {

                &:hover {
                    background-color: #2f2f2f;
                }

                &.sort-target {
                    background-color: $dark-active-color;
                }
            }
        }
    }

    .drop-container {
        background-color: $dark-hover-color;
    }
}


/* Context Menu
****************/
context-menu {
    position: fixed;
    z-index: 100001;
    opacity: 0;
    visibility: hidden;
    background: white;
    border-radius: 2px;
    width: 250px;
    padding: 4px 0;
    min-height: 150px;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid dodgerblue;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    transition: visibility 0.2s, opacity 0.2s linear;
    -moz-transition: visibility 0.2s, opacity 0.2s linear;

    .ui.list {
        .item {
            padding: 4px 10px !important;
            cursor: pointer;
        }

        .ui.divider {
            margin: 0px 0;
        }
    }

    .ui.dropdown .menu .item {
        padding: 4px 10px !important;
        height: 24px !important;
        min-height: 24px !important;
    }

    &.visible {
        opacity: 1;
        visibility: visible;
        display: block;
    }
}

.dark {
    context-menu {
        background: $dark-background-light;
        color: white;
    }
}