<template>
    <require from="./tabs/tab" />
    <require from="./folder-view/folder-view" />

    <div class="ui segments pane-container">

        <!--ADDRESS BAR-->
        <div class="ui segment address-bar">
            <div class="ui breadcrumb"
                 click.trigger="enableEditAddress()"
                 show.bind="!editAddress">
                <i class="folder icon divider"></i>
                <a class="section">Home</a>
                <i class="right angle icon divider"></i>
                <a class="section">Store</a>
                <i class="right angle icon divider"></i>
                <div class="active section">T-Shirt</div>
            </div>
            <div class="ui left icon fluid input"
                 show.bind="editAddress">
                <input ref="addressInput" type="text" blur.trigger="editAddress = false">
                <i class="folder icon"></i>
            </div>
        </div>

        <!--TABS-->
        <div class="ui segment tabs">
            <div class="ui top attached tabular mini menu" ref="tabsElement">
                <tab repeat.for="path of paths"
                     class="item ${$index == 0 ? 'active' : ''}"
                     data-tab="${id}${$index}"
                     path.bind="path">
                </tab>

                <div class="right menu">
                    <a class="item" click.delegate="openNewTab()">
                        <i class="add icon"></i> New Tab
                    </a>
                </div>
            </div>
        </div>

        <!--FOLDER VIEWS-->
        <div class="ui segment folder-views">
            <folder-view repeat.for="path of paths"
                         class="${$index == 0 ? 'active' : ''} ui tab"
                         data-tab="${id}${$index}"
                         path.bind="path"></folder-view>
        </div>
    </div>
</template>