pane {
    display: flex;
    flex: 1;

    &:not(:first-child) {
        &:before {
            content: " ";
            background-color: gray;
            width: 3px;
            min-width: 3px;
            max-width: 3px;
            cursor: w-resize;
        }
    }

    .pane-container {
        display: flex;
        flex: 1;
        user-select: none;
    }

    .address-bar.segment {
        padding: 7px;

        .breadcrumb {
            border: 1px solid rgba(34, 36, 38, 0.15);
            width: 100%;
            padding: 8.5px 14px;
            user-select: none;

            .section:not(.active):hover {
                background: #eee;
            }
        }
    }

    .tabs.segment {
        padding: 0;
    }

    .folder-views.segment {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
