pane-group {
    display: flex;
    flex: 3;

    &:before {
        content: " ";
        background-color: #ccc;
        width: 4px;
        cursor: w-resize;
        left: 0;
    }
}

.dark pane-group:before {
    background-color: #4d4d4d;
}
