<template>
    <require from="./tabs/tab" />
    <require from="./folder-view/folder-view" />

    <template as-custom-element="address-crumb">
        <bindable property="part"></bindable>
        <bindable property="last"></bindable>

        <div class="section ${last ? 'active' : ''}">${part}</div>
        <i if.bind="!last" class="right angle icon divider"></i>
    </template>

    <div class="ui segments pane-container">
        <!--ADDRESS BAR-->
        <div class="ui ${settings.inverted} segment address-bar">
            <div class="ui middle aligned grid">
                <div class="column pr0" style="flex: 1;">
                    <!--BREADCRUMBS-->
                    <div class="ui ${settings.inverted} breadcrumb"
                         click.trigger="enableEditAddress()"
                         show.bind="!editAddress">

                        <i class="folder icon divider"></i>

                        <address-crumb repeat.for="part of info.currentPath.pathParts"
                                       part.bind="part"
                                       last.bind="$last"
                                       if.bind="!!part"></address-crumb>
                    </div>

                    <!--INPUT-->
                    <form submit.delegate="addressBarPathEdited($event)">
                        <div class="ui fluid left icon ${settings.inverted} input"
                             show.bind="editAddress">
                            <i class="folder icon"></i>
                                <input ref="addressInput"
                                       value.bind="addressBarPath"
                                       type="text"
                                       blur.trigger="editAddress = false">
                        </div>
                    </form>
                </div>
                <div class="column" style="flex: 0 0 70px;">
                    <button class="tiny circular ui icon button"
                            click.delegate="info.currentPath.goUp()">
                      <i class="up arrow icon"></i>
                    </button>

                    <!--<div class="ui tiny icon buttons">
                        <button class="ui button" click.delegate="info.currentPath.goUp()">
                            <i class="up arrow icon"></i>
                        </button>
                        <button class="ui button">
                            <i class="left arrow icon"></i>
                        </button>
                        <button class="ui button">
                            <i class="right arrow icon"></i>
                        </button>
                    </div>-->
                </div>
            </div>
        </div>

        <!--TABS-->
        <div class="ui ${settings.inverted} segment tabs">
            <div class="ui top attached tabular mini ${settings.inverted} menu" ref="tabsElement">
                <tab repeat.for="path of info.paths"
                     class="item ${$index == 0 ? 'active' : ''}"
                     data-tab="${path.id}"
                     pane.bind="info"
                     path-info.bind="path">
                </tab>

                <div class="right menu">
                    <a class="item" click.delegate="openNewTab()">
                        <i class="add icon"></i> New Tab
                    </a>
                </div>
            </div>
        </div>

        <!--FOLDER VIEWS-->
        <div class="ui ${settings.inverted} segment folder-views">
            <folder-view repeat.for="path of info.paths"
                         class="${$index == 0 ? 'active' : ''} ui tab"
                         data-tab="${path.id}"
                         path-info.bind="path"></folder-view>
        </div>
    </div>
</template>