<template tabindex="0" data-id="${id}">
    <require from="./context-menu.html" />
    <require from="../../fs-items/fs-item" />

    <div class="ui horizontal ${settings.inverted} list">
        <fs-item class="item"
                 repeat.for="fsItem of fsItems.view"
                 item.bind="fsItem"
                 dblClick.trigger="openSelected()"
                 data-name.bind="fsItem.name"></fs-item>
    </div>

    <context-menu ref="contextMenu" model.bind="$this"></context-menu>

</template>