@import "../../style/colors.scss";

sidebar {
    flex: 0 0 12em;
    order: -1;
    display: flex;
    background-color: #d0d0d0;
    user-select: none;

    > .ui.segment {
        flex: 1;
        padding-left: 0;
        padding-right: 0;
        border: none;
        border-radius: 0;
    }

    .ui.list.pinned-directories {
        > .item {
            height: 22px;
            padding-left: 10px;

            &.selectable {
                cursor: pointer;

                &:hover {
                    background: rgba(238, 238, 238, 0.50);
                }

                &.active {
                    background: #e8e8e8;
                    font-weight: bold;
                }
            }
        }
    }
}

.dark {
    .ui.list.pinned-directories {
        > .item {
            &.selectable {
                &:hover {
                    background: $dark-hover-color;
                }

                &.active {
                    background: $dark-active-color;
                }
            }
        }
    }
}