@import "../../style/colors.scss";

sidebar {
    flex: 0 0 15em;
    order: -1;
    display: flex;
    background-color: #d0d0d0;
    user-select: none;

    > .ui.segment {
        flex: 1;
        padding-left: 0;
        padding-right: 0;
        border: none;
        border-radius: 0;
    }

    .ui.list.pinned-directories {
        > .item {
            height: 22px;
            padding-left: 20px;

            &.header {
                padding-left: 10px;
            }

            &.selectable {
                cursor: pointer;

                &:hover {
                    background: $light-hover-color;
                }

                &.active {
                    background: $light-active-color;
                    font-weight: bold;
                }
            }
        }
    }
}

.light sidebar {
    background-color: rgb(232 232 232 / 0.90);
}

.dark sidebar {
    background-color: rgb(27, 28, 29, 0.90);

    .ui.list.pinned-directories {
        > .item {
            &.selectable {
                &:hover {
                    background: $dark-hover-color;
                }

                &.active {
                    background: $dark-active-color;
                }
            }
        }
    }
}
