@import "../../style/themes/index";

sidebar {
    flex: 0 0 15em;
    order: -1;
    display: flex;
    user-select: none;
    @include theme(background, sidebarBackground);

    > .ui.segment {
        flex: 1;
        padding-left: 0;
        padding-right: 0;
        border: none;
        border-radius: 0;
    }

    .ui.list.pinned-directories {
        > .item {
            height: 22px;
            padding-left: 20px;

            &.header {
                padding-left: 10px;
            }

            &.selectable {
                cursor: pointer;

                &:hover {
                    @include theme(background, hoverColor);
                }

                &.active {
                    @include theme(background, activeColor);
                    font-weight: bold;
                }
            }
        }
    }
}
