<template>
  <div class="ui ${settings.inverted} segment">
    <!--PINNED DIRECTORIES-->
    <div class="ui ${settings.inverted} list pinned-item-list">
      <div class="selectable item header" click.trigger="showDirectories = !showDirectories">
        <i class="computer icon"></i>
        <div class="content">
          <div class="header">
            Computer
            <i
              class="selectable caret ${showDirectories ? 'down' : 'left'} icon"
              style="float: right"
            ></i>
          </div>
        </div>
      </div>
      <div
        repeat.for="dir of directories"
        class="
          pinned-directory
          item
          selectable
          sidebar-item
          ${windowManager.panes.active.tabs.active.path
          ==
          dir.path
          ?
          'active'
          :
          ''}
        "
        click.trigger="windowManager.panes.active.tabs.active.setPath(dir.path)"
        data-path.bind="dir.path"
        show.bind="showDirectories"
      >
        <i class="blue ${dir.name === 'Home' ? 'home' : 'folder'} icon"></i>
        <div class="middle aligned content">${dir.name}</div>
      </div>
    </div>

    <div class="ui divider" style="margin: 5px 0"></div>

    <!--DRIVES-->
    <div class="ui ${settings.inverted} list pinned-item-list">
      <div class="selectable item header" click.trigger="showDrives = !showDrives">
        <i class="disk icon"></i>
        <div class="content">
          <div class="header">
            Drives
            <i
              class="selectable caret ${showDrives ? 'down' : 'left'} icon"
              style="float: right"
            ></i>
          </div>
        </div>
      </div>
      <div
        repeat.for="drive of drives"
        class="
          drive
          item
          selectable
          sidebar-item
          ${windowManager.panes.active.tabs.active.path
          ==
          drive.path
          ?
          'active'
          :
          ''}
        "
        click.trigger="windowManager.panes.active.tabs.active.setPath(drive.path)"
        data-path.bind="drive.path"
        show.bind="showDrives"
        style="padding-bottom: 5px"
        title="Type: ${drive.fileSystem}\nTotal: ${drive.size | fileSize}\nUsed: ${drive.usedSize | fileSize}\nFree: ${drive.freeSize | fileSize}"
      >
        <div class="middle aligned content" style="margin-bottom: 3px">
          ${drive.name}
          <span class="ui small text" style="float: right; padding-top: 3px">
            ${drive.usedPercent}%
          </span>
        </div>

        <div
          class="ui multiple tiny ${settings.inverted} progress"
          data-total="100"
          data-value="${drive.usedPercent},${drive.freePercent}"
        >
          <div
            class="
              ${drive.usedPercent
              >
              90
              ?
              'red'
              :
              drive.usedPercent
              >
              75
              ?
              'orange'
              :
              'blue'}
              bar
            "
            title="Used: ${drive.usedPercent}%"
          ></div>
          <div class="bar" title="Free: ${drive.freePercent}%"></div>
        </div>
      </div>
    </div>
  </div>
</template>
