<template>
    <template as-custom-element="address-crumb" class="${last ? 'active' : ''}">
        <bindable property="part"></bindable>
        <bindable property="last"></bindable>

        <div class="section ${last ? 'active' : ''}">${part}</div>
        <i if.bind="!last" class="right angle icon divider"></i>
    </template>

    <div class="ui ${settings.inverted} segment address-bar">
        <div class="inner-container">
            <div class="breadcrumb-container">
                <!--BREADCRUMBS-->
                <div class="ui ${settings.inverted} small breadcrumb"
                     click.trigger="enableEditAddress() & self"
                     show.bind="!isEditAddress">

                    <i class="folder icon divider"></i>

                    <address-crumb repeat.for="part of pane.tabs.active.pathParts"
                                   click.trigger="addressPartSelected($index)"
                                   part.bind="part"
                                   last.bind="$last"
                                   if.bind="!!part"
                                   data-path="${pane.tabs.active.path}"
                                   data-path-index="${$index}"></address-crumb>
                </div>

                <!--PATH INPUT-->
                <div class="ui fluid left icon ${settings.inverted} small input"
                     show.bind="isEditAddress">
                    <input ref="addressInput"
                           value.bind="addressBarPath"
                           type="text"
                           blur.trigger="isEditAddress = false">
                    <i class="folder icon"></i>
                </div>
            </div>
        </div>
    </div>
</template>