.address-bar.segment {
    padding: 7px;

    .inner-container {
        display: flex;
        align-items: center;
    }

    .buttons-container {
        flex: 0 0 110px;
        vertical-align: middle;
    }

    .breadcrumb-container {
        flex: 1;
    }

    .breadcrumb {
        border: 1px solid rgba(34, 36, 38, 0.15);
        width: 100%;
        padding: 0px 14px;
        user-select: none;

        address-crumb {
            display: inline-block;
            padding: 6px 3px;
        }

        address-crumb:not(.active):hover {
            background-color: rgba(74, 204, 254, 0.30);
        }

        .divider {
            margin: 0;
        }
    }

    .ui.input {
        .icon {
            color: dodgerblue;
        }

        input {
            padding-top: 7px;
            padding-bottom: 7px;
            border-radius: 0 !important;
            background: transparent;
        }
    }
}

.dark {
    .address-bar.segment {
        .breadcrumb, .ui.input {
            border: 1px solid rgb(238, 238, 238, 0.25);
        }

        .breadcrumb .icon {
            color: white;
        }

        .ui.input > input {
            color: white;
        }

        .ui.input > input::selection {
            color: white;
        }

        address-crumb:not(.active):hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}
