<template>

    <template as-custom-element="address-crumb" class="${last ? 'active' : ''}">
        <bindable property="part"></bindable>
        <bindable property="last"></bindable>

        <div class="section ${last ? 'active' : ''}">${part}</div>
        <i if.bind="!last" class="right angle icon divider"></i>
    </template>

    <div class="ui ${settings.inverted} segment address-bar">
        <div class="inner-container">
            <div class="buttons-container">
                <!--ATTACHED ICONS-->
                <div class="ui tiny icon buttons">
                    <button class="ui button"
                            click.delegate="pane.tabs.active.goBack()"
                            disabled.bind="pane.tabs.active.atHistoryIndex == 0">
                        <i class="left arrow icon"></i>
                    </button>
                    <button class="ui button"
                            click.delegate="pane.tabs.active.goForward()"
                            disabled.bind="pane.tabs.active.atHistoryIndex >= pane.tabs.active.history.length - 1">
                        <i class="right arrow icon"></i>
                    </button>
                    <button class="ui button" click.delegate="pane.tabs.active.goUp()">
                        <i class="up arrow icon"></i>
                    </button>
                </div>

                <!--CIRCULAR ICONS-->
                <!--<button class="tiny circular ui icon button"
                        click.delegate="pane.tabs.active.goBack()"
                        disabled.bind="pane.tabs.active.atHistoryIndex == 0">
                    <i class="left arrow icon"></i>
                </button>
                <button class="tiny circular ui icon button"
                        click.delegate="pane.tabs.active.goForward()"
                        disabled.bind="pane.tabs.active.atHistoryIndex >= pane.tabs.active.history.length - 1">
                    <i class="right arrow icon"></i>
                </button>
                <button class="tiny circular ui icon button"
                        click.delegate="pane.tabs.active.goUp()">
                    <i class="up arrow icon"></i>
                </button>-->
            </div>
            <div class="breadcrumb-container">
                <!--BREADCRUMBS-->
                <div class="ui ${settings.inverted} breadcrumb"
                     click.trigger="enableEditAddress() & self"
                     show.bind="!editAddress">

                    <i class="folder icon divider"></i>

                    <address-crumb repeat.for="part of pane.tabs.active.pathParts"
                                   click.trigger="addressPartSelected($index)"
                                   part.bind="part"
                                   last.bind="$last"
                                   if.bind="!!part"></address-crumb>
                </div>

                <!--INPUT-->
                <div class="ui fluid left icon ${settings.inverted} input"
                     show.bind="editAddress">
                    <input ref="addressInput"
                           value.bind="addressBarPath"
                           type="text"
                           blur.trigger="editAddress = false">
                    <i class="folder icon"></i>
                </div>
            </div>
        </div>
    </div>
</template>