@import "../../../style/colors.scss";

.address-bar.segment {
    padding: 7px;

    .inner-container {
        display: flex;
        align-items: center;
    }

    .buttons-container {
        flex: 0 0 150px;
        vertical-align: middle;
    }

    .breadcrumb-container {
        flex: 1;

        .ui.input {
            .icon {
                color: dodgerblue;
            }
        }
    }

    .breadcrumb {
        border: 1px solid rgba(34, 36, 38, 0.15);
        width: 100%;
        padding: 0px 8px;
        user-select: none;

        address-crumb {
            display: inline-block;
            padding: 5px 3px;
        }

        address-crumb:not(.active):hover {
            background-color: rgba(74, 204, 254, 0.30);
        }

        .divider {
            margin: 0;
        }
    }

    .ui.input {
        input {
            padding-top: 6.5px;
            padding-bottom: 6.5px;
            border-radius: 0 !important;
            background: transparent;
        }
    }
}

.dark {
    .address-bar.segment {
        .breadcrumb {
            border: 1px solid $dark-border-color;
        }

        .breadcrumb .icon {
            color: white;
        }

        .ui.input {
            > input {
                border: 1px solid $dark-border-color;

                &:focus {
                    border: 1px solid $accent-color;
                }
            }
        }

        .ui.input > input {
            color: white;
        }

        .ui.input > input::selection {
            color: white;
        }

        address-crumb:not(.active):hover {
            background: $dark-hover-color;
        }
    }
}


.light address-bar {
}

.dark address-bar {
    .breadcrumb {
        /*background-color: #333;*/
    }
}