@import "../../style/themes/index";

header {
  $header-height: 75px;
  -webkit-app-region: drag;
  height: $header-height;
  color: white;
  @include theme(background, headerBackground);
  //border-bottom: 1px solid $dark-splitter-color; //should make this into themable

  button,
  .button,
  .input,
  .icon {
    -webkit-app-region: none;
  }

  address-bar .address-bar-inner-container .breadcrumb {
    -webkit-app-region: none;

    padding-right: 25px;
    padding-left: 25px;
  }

  .controls {
    white-space: nowrap;

    .ui.buttons {
      margin-right: 10px !important;
    }

    button {
      padding: 0.5em !important;
      height: 2.5em;
      width: 3.5em;

      .icon {
        font-size: 1.15em;
      }

      &:active .icon {
        color: $accent-color;
      }

      svg {
        height: 1.15em;
      }

      svg.active path,
      path.active {
        fill: $accent-color;
      }
    }
  }

  .search.input {
    input {
      $search-input-padding: 0.35em;
      padding-top: $search-input-padding;
      padding-bottom: $search-input-padding;
      background-color: #e0e1e2;

      &::placeholder {
        color: #808080;
      }
    }
  }
}
