@import "../../style/colors.scss";

header {
    height: 20px;
    border-bottom: 1px solid #eee;
}

.light header {
    background-color: #eee;
}

.dark header {
    background-color: $dark-background;
    border-bottom-color: $dark-border-color;
}
