<template>
    <div class="ui ${settings.inverted} segment">
        <div class="ui ${settings.inverted} list">
            <div class="item">
                <i class="computer icon"></i>
                <div class="content">
                    <div class="header">PC</div>
                    <div class="list">
                        <div class="item">
                            <i class="blue folder icon"></i>
                            <div class="content">
                                <div class="header">Home</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="blue folder icon"></i>
                            <div class="content">
                                <div class="header">Downloads</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="blue folder icon"></i>
                            <div class="content">
                                <div class="header">Documents</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="list icon"></i>
                <div class="content">
                    <div class="header">Libraries</div>
                </div>
            </div>
        </div>
    </div>
</template>