@import "../../../style/colors.scss";

pane-group {
    display: flex;
    flex: 3;

    &:before {
        content: " ";
        /*background-color: #ccc;*/
        width: 2px;
        min-width: 2px;
        max-width: 2px;
        cursor: w-resize;
        left: 0;
    }
}

.light pane-group {
    background-color: $light-background;
}

.dark pane-group {
    background-color: $dark-background;

    &:before {
        background-color: $dark-splitter-color;
    }
}
