body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    height: 100%;
}

.window {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .window-body {
        display: flex;
        flex: 1;

        sidebar {
            flex: 0 0 12em;
            order: -1;
        }
    }
}

.p0 {
    padding: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pl0 {
    padding-right: 0 !important;
}

.pt0 {
    padding-right: 0 !important;
}

.pb0 {
    padding-right: 0 !important;
}

.dark {
    .ui.inverted.segment {
        border-radius: 0 !important;
        border-color: #656565;
    }

    .ui.segments {
        border-radius: 0 !important;
        border-color: #656565;
    }
}
